{% extends 'layout.html' %}

{% block body %}

<div>
    <div style="text-align: center;" class="img">
    <img src="/static/images/agri.jpg" style="margin-bottom: 3em;" height=20% width=100%>
    </div>
    <div id="suggest" class="centered">
      <h4 style="text-align:center">
      Farmer's assistant provides you soil information and suggest's crops that are best suited to grow in your field along with their optimum conditions using our AI and also brings you latest agricultual updates. 
     <h4>
     <br></br>
    <h4 style="text-align:center"> Upload soil image to get insights </h4>
    <form action="{{url_for("red")}}">
    <div style="text-align:center">
    <button style="text-align:center" class="btn btn-dark" type="submit"> Upload </button> 
    <br></br><br></br>
    </div>
    </form>
    </div>
</div>

{% endblock %}
